Source: libmm-common
Section: libs
Priority: extra
Maintainer: Shin Seung Bae <seungbae.shin@samsung.com>, JongHyuk Choi <jhchoi.choi@samsung.com>
Uploaders: YoungHwan Ahn <younghwan_.an@samsung.com>, Cho Ye Jin <cho.yejin@samsung.com>, Kwanghui Cho <kwanghui.cho@samsung.com>, Wonhyung Cho <wh01.cho@samsung.com>, Jeongmo Yang <jm80.yang@samsung.com>, Sangchul Lee <sc11.lee@samsung.com>
Build-Depends: debhelper (>= 5), autotools-dev, libmm-log-dev, libglib2.0-dev
Standards-Version: 3.7.2
Homepage: N/A

Package: libmm-common
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libmm-log, libglib2.0-0
Description: Multimedia Framework Common Library
Version: limo-0.1-0

Package: libmm-common-dev
Section: libdevel
Architecture: any
Depends: libmm-common (= ${Source-Version}), libmm-log-sdk-dev, libglib2.0-dev
Description: Multimedia Framework Common Library (DEV)
Version: limo-0.1-0

Package: libmm-common-internal-dev
XB-Public-Package: no
Section: libdevel
Architecture: any
Depends: libmm-common-dev
Description: Multimedia Framework Common Library (inhouse)
Version: limo-0.1-0

Package: libmm-common-dbg
Section: debug
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libmm-common (= ${Source-Version})
Description: Multimedia Framework Common Library (unstripped)
